body {
	margin: 0;
	padding: 0;
}

#lista2, #lista3, #lista4, #lista5{
	list-style-type:none;
	margin: 0;
	padding: 0;
}
li.li3 a{
	display: block;
	width: 70px;
	background: #DDD;
}

#lista4{
	width: 200px;
	background-color:#F1F1F1;
}

li.li4 a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	font-family: arial;
}

li.li4 a.active {
	background-color: #08FB4D;
	color: white;
}

li.li4 a:hover:not(.active) {
	background-color: #555;
	color: white;
}

#lista5 {
	overflow: hidden;
	background-color:  #333;
}

.li5{
	float:left;
}

li.li5 a{
	display: block;
	color: #white;
	padding: 14px 28px;
	text-decoration: none;
}

li.li5 a.active {
	background-color: #4caf50;
}

li.li5 a:hover:not(.active) {
	background-color: #111;
}

#derecho {
	float:right;
}

/***************************************/

.dropbtn{
	background-color: darkgreen;
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;

}

.drop{
	position: relative;
	display: inline-block;

}

.drop-cont{
	display: none;
	position: absolute;
	background-color: whitesmoke;
	min-width: 160px;
	z-index: 1;
	box-shadow: 0 8px 0 16px rgba(0, 0, 0, 0.2);

}

.drop-cont a{
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;

}

.drop-cont a:hover {
	background-color: #999;
} 

.drop:hover .drop-cont{
	display: block;
}
.drop:hover .dropbtn {
	background-color: green;
}