.container {
  display: grid;
  gap: 1px;
  grid-auto-rows: minmax(100px, auto);
}
#rojo {
  border: 1px solid;
  background-color: red;
}
#azul {
  text-align: center solid;
  text-decoration-color: white;
  background-color: blue;
}
#verde {
  background-color: green;
}
