#titulo{
    color: #007b7c;
}

.texto-rojo{
    color: red;
}

.destacado{
    color: #ffb248;
}

#subtitulo{
    color: #0201ff;
}

.link-rojo{
    color: red;
}

.link-rojo em{
    color: #0201ff;
}

.text-morado{
    color: #af5aa1;
}


table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

table caption{
    color: #6982ff;
}

table td{
    color: #12a757;
}

table .especial{
    color: #fd9e38;
}

table .especial-rojo{
    color: red;
}
