*{
	font-family: arial;
	font-size: 16px;
}
p{
	color: #555;
}
#primero p{
	color: #369;
}

#primero em{
	color:  #0000BB;
	background color: #FFFFCC;
}

a{
	color: #c30;
}
.especial{
	color: #ffff00;
	background-color: #000;
}
.normal span{
	font-weight: bold;
}